<div *ngIf="report" class="clair-detail">
  <div class="clair-detail__header">
    <div class="clair-detail__header-label"><b>Image: </b>{{ report.name }}</div>
  </div>
  <div class="clair-detail__main">
    <div class="clair-detail__inner">
      <div class="clair-detail__info-panel">
        <div class="clair-detail__info">
          <h1>{{ total }} vulnerabilities detected</h1>
          <h2 *ngIf="total > 0">{{ patches }} have available patches</h2>
        </div>
        <div>
          <app-clair-report-severity-summary [totals]="totals"></app-clair-report-severity-summary>
        </div>
      </div>
      <app-table *ngIf="total > 0" [dataSource]="dataSource" [columns]="columns"></app-table>
    </div>  
  </div>  
</div>