<div class="clair-report" *ngIf="images">

  <!-- Left-hand list -->
  <div class="clair-report__imagelist">
    <div class="clair-report__header">
      <div class="clair-report__header-label">Images</div>
      <div class="clair-report__header-count">{{ images.length }}</div>
    </div>
    <div class="clair-report__images">
      <div *ngFor="let image of images" class="clair-report__image" (click)="selectImage(image.name)" [ngClass]="[image.highestSeverity]">
        <div class="clair-report__image-info" [ngClass]="{'clair-report__active': image.name === selected}">
          <div class="clair-report__image-name">{{ image.image }}</div>
          <div class="clair-report__image-subdetail">
            <div class="clair-report__image-tag">{{ image.tag }}</div>
            <div class="clair-report__image-total">{{ image.total }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clair-report__detail">
    <app-clair-report-detail [id]="report.id" [report]="detail" *ngIf="detail"></app-clair-report-detail>
  </div>

</div>
