.clair-severity {
  font-size: 14px;
  padding: 20px;

  &__item {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
  }

  &__total {
    font-weight: bold;
    min-width: 48px;
    padding-right: 8px;    
    text-align: end;
  }

  mat-icon {
    font-size: 20px;
    height: 20px;
    margin-right: 8px;
    width: 20px;
  }

  &__critical {
    color: red;
  }
  &__high {
    color: #ff7700
  }
  &__medium {
    color: orange;
  }
  &__low {
    color: #d29930;
  }
  &__negligible {
    color: grey;
  }
  &__unknown {
    color: #b8b8b8;
  }
}