@mixin app-card-number-metric-theme($theme, $app-theme) {
  $status-colors: map-get($app-theme, status);
  $subdued: mat-color($app-theme, subdued-color);
  .number-metric-card {
    &__icon,
    &__anchor,
    &__label,
    &__limit {
      color: $subdued;
    }
  }

  .number-metric-card__alert-badge {
    &-error {
      background-color: red;
    }
    &-info {
      background-color: #1ba5da;
    }
    &-warning {
      background-color: orange;
    }
  }
}
